header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #46cf9b;
  text-decoration: none;
  font-size: 100%;
}
.no-button:hover {
  color: #7df8c2;
}

p {
  margin: 0;
}

.nav-color {
  background-color: rgb(30, 30, 30);
}

.card-div {
  margin-top: 1rem;
}

.new-card {
  max-width: 80%;
  margin: auto;
  background-color: rgb(55, 55, 55);
}

.post-card {
  max-width: 60%;
  margin: auto;
  background-color: rgb(55, 55, 55);
}

.post-header{
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
  background-color: rgb(40, 40, 40);
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.new-card-header {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(40, 40, 40);
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.start {
  display: flex;
  justify-self: flex-start;
  margin-left: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.end {
  display: flex;
  justify-self: flex-end;
  margin-right: 1rem;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.card-border {
  border: 1px solid rgb(219, 219, 219);
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.post-title {
  color: rgb(147, 226, 215);
}

.post-title:hover {
  color: rgb(176, 254, 243);
}

.login {
  max-width: 50%;
  margin: auto;
}